################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnonymousChordLibrary/AnonymousChord.VC.VC.opendb
